* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

#root {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  min-height: 6em;
  padding: 2em;
  background-color: #2F8B6F;
  color: white;
  margin-bottom: 2em;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #D39C47;
}

.results {
  background-color: #FFDBA3;
  margin: 2em 0;
}

.outputs output {
  color: #840C26;
}

.results .helpText {
  padding: 2em 2em;
  font-size: 0.8em;
}

.input-group input,
.select-group select {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #085F44;
}

.input-group ::-moz-placeholder {
  color: #B57D26;
}
.input-group ::-webkit-input-placeholder {
  color: #B57D26;
}
.input-group ::-ms-input-placeholder {
  color: #B57D26;
}
.input-group ::-ms-placeholder {
  color: #B57D26;
}

.range-group [type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #085F44;
}
.range-group [type="range"]::-moz-range-track {
  height: 2px;
  background: #085F44;
}
.range-group [type="range"]::-ms-track {
  height: 2px;
  background: #085F44;
}

.range-group input[type=range]::-webkit-slider-thumb {
	border: solid 1px #085F44;
	background: #4CA288;
}
.range-group input[type=range]::-moz-range-thumb {
	border: solid 1px #085F44;
	background: #4CA288;
}
.range-group input[type=range]::-ms-thumb {
	border: solid 1px #085F44;
	background: #4CA288;
}

.input-group label ,
.select-group label,
.range-group label,
.input-radio-group legend {
  color: #840C26;
  font-weight: bold;
}

.input-radio-group label {
  color: black;
  font-weight: normal;
}
